@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.calculator {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

input[type=text] {
    padding: 10px;
    background: rgb(124, 152, 175);
    color: white;
    border: none;
    outline: none;
    font-size: 25px;
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(124, 152, 175);
}

::placeholder {
    color: white;
}

.calculator {
    th, td {
        height: 60px;
        width: 60px;
        text-align: center;
        color: white;
        background-color: rgb(124, 152, 175);
        font-size: 25px;
        user-select: none;
        transition: all .3s;
    }
    th:hover:not(.specialTD), td:hover {
        background-color: rgb(76, 82, 97);
    }
}

table, th, td {
    border-collapse: collapse;
}